ul.app--user--list
  each friend in friends
    li
      .circle--fluid
        .circle--fluid--cell.circle--fluid--primary
          a.app--tweet--author
            .app--avatar(style=`background-image: url(${friend.profImg})`)
              img(src=friend.profImg)
            h4= friend.name
            p= `@${friend.handle}`
        .circle--fluid--cell
          a.button.button-text Unfollow
