extends layout

block content
  //- Tweet form (at bottom of screen)
  .app--tweet
    form
      .circle--fluid
        .circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
          .app--avatar(style=`background-image: url(${user.profImg})`)
            img(src=user.profImg)
          textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?")
          strong#tweet-char.app--tweet--char 140
        .circle--fluid--cell.align-bottom
          button.button-primary Tweet
  .bounds.app--body
    .app--section--header
      .grid-33
        .app--section--heading
          h2 Timeline
      .grid-33
        .app--section--heading
          strong 129
          h2 Following
      .grid-33
        .app--section--heading
          h2 Direct Messages
    .grid-33
      .app--section
        include includes/timeline.pug
    .grid-33
      .app--section
        include includes/friends.pug
    .grid-33
      .app--section
        include includes/messages.pug
